---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { databaseService } from "@/api/DatabaseService";
import { loadAndParseRecipe } from "@/api/RecipeService";
import { createHash } from "crypto";

let error: string | null = null;

function hashString(input: string): string {
  const hash = createHash("md5");
  hash.update(input);
  return hash.digest("hex");
}

// Server-side form handling
if (Astro.request.method === "POST") {
  try {
    const formData = await Astro.request.formData();
    const recipeUrl = formData.get("recipeUrl");

    if (typeof recipeUrl !== "string") {
      throw new Error("Recipe URL must be a string");
    }

    const r = await databaseService.findRecipeByUrl(recipeUrl);

    if (r.documents.length === 1) {
      // Load recipe from database and redirect to page
      const recipe = r.documents[0];
      return Astro.redirect(`/recipes/${recipe.Slug}`);
    } else {
      // Format recipe, save to database,
      console.log("Calling loadAndParseRecipe with URL:", recipeUrl);
      const formattedRecipe = await loadAndParseRecipe(recipeUrl);
      console.log("Formatted Recipe:", formattedRecipe);

      if (!formattedRecipe) {
        throw new Error("Failed to format recipe");
      }

      const hashedValue = hashString(recipeUrl);
      const urlSafeTitle = formattedRecipe.title
        .trim()
        .toLowerCase()
        .replace(/[^a-z0-9\s-]/g, "")
        .replace(/\s+/g, "-");

      const data = {
        OriginalURL: recipeUrl,
        Ingredients: formattedRecipe.processed_ingredients?.ingredients || [],
        Steps: formattedRecipe.processed_steps?.steps || [],
        Slug: `${urlSafeTitle}-${hashedValue}`,
        Title: formattedRecipe.title,
      };

      try {
        const createdRecipe = await databaseService.createRecipe(data);
        console.log("Created Recipe:", createdRecipe);
      } catch (error) {
        console.error("Error creating recipe:", error);
      }

      return Astro.redirect(`/recipes/${data.Slug}`);
    }
  } catch (err) {
    console.log(err);
    error = `Failed to process recipe: ${err instanceof Error ? err.message : "Unknown error"}`;
  }
}
---

<BaseLayout>
  <div class="container">
    <h1>Recipe Scraper</h1>

    <form method="POST" class="form">
      <input
        type="url"
        name="recipeUrl"
        class="input"
        placeholder="Enter recipe URL"
        required
      />
      <button type="submit" class="button">Scrape Recipe</button>
    </form>

    {error && <div class="error">{error}</div>}
  </div>
</BaseLayout>
